.d1 {
  background-color: rgb(4, 145, 158);
}
.s1 {
  color: red;
  margin-left: 10px;
}
.img1 {
  max-height: 12px;
  margin-left: 5px;
}
.d2 {
  margin-top: 5px;
  background-color: grey;
}
.t1 {
  text-decoration: line-through;
}
.s2 {
  color: red;
  margin-left: 10px;
}
.d3 {
  background-color: rgb(4, 145, 158);
}
.d4 {
  background-color: rgb(0, 213, 255);
}
.d5 {
  background-color: grey;
}
.d6 {
  background-color: rgb(0, 213, 255);
}
.d7 {
  background-color: rgb(4, 145, 158);
}
.d8 {
  background-color: rgb(0, 213, 255);
}
.d9 {
  background-color: rgb(4, 145, 158);
}
.d10 {
  background-color: rgb(0, 213, 255);
}
.d11 {
  background-color: grey;
}
.d12 {
  background-color: rgb(0, 213, 255);
}
